<tr><td>begin<%=education["begin"]%></td><td colspan=\"3\">end<%=education["end"]%></td></tr><tr><td>university<%=education["university"]%></td><td>departement<%=education["dep"]%></td><td>faculty<%=education["faculty"]%></td><td>diploma<%=education["diploma"]%></td></tr>
